<div style="background-color:green;color:white;padding:20px;">
<h1> Enem Regression - Exploratory Data Analysis </h1>
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
sns.set()

<div style="background-color:#ddeedd;padding:20px;">
<h2> Config </h2>
</div>

In [13]:
input_data_path = './data/input/'
train_raw_filename = 'train.csv'
test_raw_filename = 'test.csv'

SEED = 42

target = 'NU_NOTA_MT'

<div style="background-color:#ddeedd;padding:20px;">
<h2> Loading Data </h2>
</div>

__Train Data__

In [10]:
train_data = pd.read_csv(input_data_path + train_raw_filename)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Columns: 167 entries, Unnamed: 0 to Q050
dtypes: float64(28), int64(79), object(60)
memory usage: 17.5+ MB

In [11]:
train_data.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [12]:
print(train_data.columns.tolist())

['Unnamed: 0', 'NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA', 'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO', 'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO', 'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038', 'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046', 'Q047', 'Q048', 'Q049', 'Q050']

__Test Data__

In [15]:
test_data = pd.read_csv(input_data_path + test_raw_filename)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            4576 non-null   object
 1   CO_UF_RESIDENCIA        4576 non-null   int64
 2   SG_UF_RESIDENCIA        4576 non-null   object
 3   NU_IDADE                4576 non-null   int64
 4   TP_SEXO                 4576 non-null   object
 5   TP_COR_RACA             4576 non-null   int64
 6   TP_NACIONALIDADE        4576 non-null   int64
 7   TP_ST_CONCLUSAO         4576 non-null   int64
 8   TP_ANO_CONCLUIU         4576 non-null   int64
 9   TP_ESCOLA               4576 non-null   int64
 10  TP_ENSINO               1480 non-null   float64
 11  IN_TREINEIRO            4576 non-null   int64
 12  TP_DEPENDENCIA_ADM_ESC  1480 non-null   float64
 13  IN_BAIXA_VISAO          4576 non-null   int64
 14  IN_CEGUEIRA             4576 non-null   int64
 15  IN_SURDEZ               4576 non-null   int64
 16  IN_DISLEXIA             4576 non-null   int64
 17  IN_DISCALCULIA          4576 non-null   int64
 18  IN_SABATISTA            4576 non-null   int64
 19  IN_GESTANTE             4576 non-null   int64
 20  IN_IDOSO                4576 non-null   int64
 21  TP_PRESENCA_CN          4576 non-null   int64
 22  TP_PRESENCA_CH          4576 non-null   int64
 23  TP_PRESENCA_LC          4576 non-null   int64
 24  CO_PROVA_CN             4576 non-null   object
 25  CO_PROVA_CH             4576 non-null   object
 26  CO_PROVA_LC             4576 non-null   object
 27  CO_PROVA_MT             4576 non-null   object
 28  NU_NOTA_CN              3442 non-null   float64
 29  NU_NOTA_CH              3442 non-null   float64
 30  NU_NOTA_LC              3377 non-null   float64
 31  TP_LINGUA               4576 non-null   int64
 32  TP_STATUS_REDACAO       3377 non-null   float64
 33  NU_NOTA_COMP1           3377 non-null   float64
 34  NU_NOTA_COMP2           3377 non-null   float64
 35  NU_NOTA_COMP3           3377 non-null   float64
 36  NU_NOTA_COMP4           3377 non-null   float64
 37  NU_NOTA_COMP5           3377 non-null   float64
 38  NU_NOTA_REDACAO         3377 non-null   float64
 39  Q001                    4576 non-null   object
 40  Q002                    4576 non-null   object
 41  Q006                    4576 non-null   object
 42  Q024                    4576 non-null   object
 43  Q025                    4576 non-null   object
 44  Q026                    4576 non-null   object
 45  Q027                    2088 non-null   object
 46  Q047                    4576 non-null   object
dtypes: float64(12), int64(20), object(15)
memory usage: 1.6+ MB

In [17]:
test_data.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A

Como podemos notar ao comparar ambos datasets, apenas um subconjunto de variaveis estao disponiveis no arquivo test.csv. Assim, este subconjunto de variaveis explicatives deve ser o feature set base de nossa modelagem.

In [18]:
INITIAL_FEATURES = test_data.columns

In [19]:
INITIAL_FEATURES

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

__Filtering Train Data__

In [31]:
train_features = train_data[INITIAL_FEATURES]
train_target = train_data[target]
test_features = test_data[INITIAL_FEATURES]
df = train_features.copy()
df[target] = train_target

In [32]:
assert len(train_features.columns) == len(test_features.columns)
assert len(train_features) == len(train_target)

<div style="background-color:#ddeedd;padding:20px;">
<h2> Univariate Feature Analysis </h2>
</div>

In [39]:
CAT_DICT = {}

In [45]:
CAT_DICT

{'CO_UF_RESIDENCIA': 35}

<div style="background-color:#fff2df;padding: 10px;">
<h4> CO_UF_RESIDENCIA </h4>
</div>

> CÃ³digo da Unidade da FederaÃ§Ã£o de residÃªncia
- Criar uma tabela com as mÃ©dias da nota MAT ENEM por codigo de UNIDADE

In [55]:
var = 'CO_PROVA_CN'
tmp = pd.DataFrame(df.groupby(var)[target].mean())
tmp

                                          NU_NOTA_MT
CO_PROVA_CN
03b1fba5c1ebbc47988cd303b08982cfb2aa9cf2  508.065517
16f84b7b3d2aeaff7d2f01297e6b3d0e25c77bb2  483.477433
1bcdece8fb1b952552b319e4e5512bbcf540e338  466.920312
2d22ac1d42e6187f09ee6c578df187a760123ccf  440.227778
66b1dad288e13be0992bae01e81f71eca1c6e8a6  479.231487
69ed2ddcb151cfebe3d2ae372055335ac7c8c144  475.779661
a27a1efea095c8a973496f0b57a24ac6775d95b0  375.100000
b9b06ce8c319a3df2158ea3d0aef0f7d3eecaed7  480.793960
c8328ebc6f3238e06076c481bc1b82b8301e7a3f  487.395065
c87a85497686b3e7b3765f84a2ca95256f0f66aa  471.526154